body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%; 
    display: block;
    font-size: 0;
    background-color: aqua;
    z-index: -1;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0 30px 30px 30px;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
}

main p, button {
    font-family: 'Open Sans', sans-serif;
}

button {
    color: white;
    background-color: grey;
    padding: 3px 1em 3px 1em;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 0;
}

#content-hide {
    position: fixed;
    bottom: 0;
    right: 0;
}

#home-btn:hover { background-color: violet; }
#sphere-btn:hover { background-color: orange; }
#cube-btn:hover { background-color: red; }
#icosphere-btn:hover { background-color: green; }
#torus-btn:hover { background-color: blue; }